<div class="bg-slate-700 min-h-screen w-full text-white">
  <div class="flex w-full bg-slate-950">
    <app-tab class="grow" [text]="'Test 1'" [link]="'test1'"></app-tab>
    <app-tab class="grow" [text]="'Test 2'" [link]="'test2'"></app-tab>
    <app-tab class="grow" [text]="'Test 3'" [link]="'test3'"></app-tab>
    <app-tab class="grow" [text]="'Test 4'" [link]="'test4'"></app-tab>
    <app-tab class="grow" [text]="'Test 5'" [link]="'test5'"></app-tab>
    <app-tab class="grow" [text]="'Test 6'" [link]="'test6'"></app-tab>
  </div>
  <div class="p-4 sm:p-8">
    <router-outlet></router-outlet>
  </div>
</div>
