<div class="flex flex-col sm:flex-row gap-4">
  <div class="sm:w-1/2 mb-8 sm:mb-0">
    <h2 class="mb-4 font-bold text-2xl">Test 6: Rutas Grid</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-6">
        <div class="flex flex-col rounded-md overflow-hidden w-full">
          <label for="wide">Tamaño</label>
          <input
            name="size"
            type="number"
            class="w-full rounded-md px-4 text-black mt-2"
            [(ngModel)]="size"
            required
          />
        </div>
        <button
          class="bg-indigo-600 text-white px-6 text-lg font-semibold py-4 rounded-md w-full"
          [disabled]="size <= 0"
        >
          Calcular
        </button>
      </div>
    </form>
  </div>
  <div
    *ngIf="result !== 0"
    class="sm:w-1/2 flex items-center flex flex-col gap-2 justify-center items-center"
  >
    <p class="text-center">
      El número posible de rutas es:<br />
      <span class="text-5xl">{{ result }}</span>
    </p>
  </div>
</div>
